<mat-card>
  <mat-card-title> </mat-card-title>
  <form>
      <mat-form-field>
          <input matInput placeholder="Nome" [(ngModel)]="usuario.nome" name="nome">            
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Situação</mat-label>
        <select matNativeControl required placeholder="Situação" [(ngModel)]="usuario.situacao" name="situacao">
          <option value="">Todos</option>
          <option value="true">Ativo</option>
          <option value="false">Inativo</option>                       
        </select>
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>Perfil</mat-label>
          <select matNativeControl required placeholder="Perfil" [(ngModel)]="usuario.perfil" name="perfil">
            <option value="">Todos</option>
            <option value="Gestor Municipal">Gestor Municipal</option>
            <option value="Gestor Estadual">Gestor Estadual</option>
            <option value="Gestor Nacional">Gestor Nacional</option>              
          </select>
      </mat-form-field>
     
  </form>
  <button mat-raised-button (click)="pesquisar()" name="bnome">
      Pesquisar
  </button>  
</mat-card>

<div class="mat-elevation-z3">
    <table mat-table [dataSource]="usuarios" *ngIf="show">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef >Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
      
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef >Nome</th>
        <td mat-cell *matCellDef="let row">{{row.nome}}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef >E-mail</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="perfil">
        <th mat-header-cell *matHeaderCellDef >Perfil</th>
        <td mat-cell *matCellDef="let row">{{row.perfil}}</td>
      </ng-container>

      <!-- CPF Column -->
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef >CPF</th>
        <td mat-cell *matCellDef="let row">{{row.cpf | cPF }}</td>
      </ng-container>

        <!-- toggle olumn -->
	    <ng-container matColumnDef="toggle">
        <th mat-header-cell *matHeaderCellDef> Habilitado </th>
       <td mat-cell *matCellDef="let element" >
            <mat-slide-toggle  [checked]="element.situacao" (change)="updateStatus(element)"></mat-slide-toggle>
         </td>
     </ng-container>


      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef >Ações</th>
        <td mat-cell *matCellDef="let row">
          
            <a routerLink="/usuarios/update/{{row.id}}" class="edit">
                <i class="material-icons ">
                    edit
                </i>
            </a>
            <a routerLink="/usuarios/delete/{{row.id}}" class="delete">
                <i class="material-icons ">
                    delete
                </i>
            </a>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    
  </div>
  
