table{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.edit{
    margin-right: 5px;
}

.edit > i{
  color: #3516e0;
}

.delete > i{
    color: #e35e6b;
}

form{
    display:flex;
    flex-direction:column;
    width: 100%;    
}

button{
    margin-top: 10px;
    margin-right: 15px;
}



